
.board-setup {
  text-align: center;
  margin-top: 100px;
}
.row {
  float: left;
}
.table-8-cell {
  width: 1000px;
  margin: auto auto auto auto;
}
.table-16-cell {
  width: 1000px;
  margin: auto auto auto auto;
}
.table-32-cell {
  width: 1800px;
  margin: auto auto auto auto;
}
.background {
  background: green;
  margin: 10px 10px;
  width: 185px;
  height: 185px;
}

.front {
  margin: 10px 10px;
  width: 185px;
  height: 185px;
}
